.portfolio-title {
  text-align: center;
  margin-top: 60px;
  padding-top: 90px;
}

.portfolio-title h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.subtitle {
  font-size: 18px;
  color: #ffffff;
}
/* Contact Section */
.contact-section {
  display: flex;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  gap: 40px;
  flex-wrap: wrap;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
}

.contact-text {
  display: flex;
  flex-direction: column;
}
/* Contact Info */
.contact-info {
  flex: 1;
  padding: 30px;
  background: white;
  border-radius: 20px;
  min-width: 280px;
}

.contact-info h2 {
  font-size: 20px;
  margin: 15px 0 5px;
  color: #000000;
}

.contact-info p {
  color: #000000;
  margin-bottom: 10px;
}

/* Social Links */

/* Contact Form */
.contact-form {
  flex: 1.2;
  padding: 20px;
  border-radius: 10px;
  min-width: 280px;
  background-color: white;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid #444;
  color: #000;
  border-radius: 5px;
  font-size: 14px;
}

/* Button */
.contact-form .submit-btn {
  background: rgb(21, 20, 20);
  color: rgb(246, 245, 245);
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start; /* keeps button aligned left */
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s ease;
}

.contact-form .submit-btn:hover {
  background: linear-gradient(to right, #010b24, #16016c, #010b24);
  color: yellow;
}

@media (max-width: 768px) {
  .contact-form .submit-btn {
    align-self: center; /* centers button on mobile */
  }
}

/* Map */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 900px;
  padding: 0 15px;
}

.map-container iframe {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.status-msg {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #32d4ff; /* visible blue for success */
}

.status-msg.error {
  color: #ff4d4f; /* red for error */
}

.dubai-phone {
  margin-top: 5px;
  color: #000;
  font-weight: bold;
}
.map-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 450px;
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.map-link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: transparent;
  cursor: pointer;
}
