.job-detail-page {
  padding: 40px 20px;

  min-height: 100vh;
  padding-top: 160px;
}

.job-detail-container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.text {
  color: blue;
}
.cont {
  margin-top: 20px;
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
}

.job-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.job-detail-logo {
  width: 60px;
  height: 60px;
}

.job-description h3 {
  margin-top: 20px;
  color: #333;
}

.job-description ul {
  list-style: disc;
  margin-left: 20px;
}
